@-webkit-keyframes bounce-arrow {
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(10px);
  }
  100%{
    transform: translateY(0px);
  }
}

@-moz-keyframes bounce-arrow {
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(10px);
  }
  100%{
    transform: translateY(0px);
  }
}

@keyframes bounce-arrow {
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(10px);
  }
  100%{
    transform: translateY(0px);
  }
}

.arrow {
  background-repeat: no-repeat;
  background-position: center center;
  width: 22px;
  height: 32px;
  margin: 15px auto -20px auto;
  display: none;

  -webkit-animation: bounce-arrow 2s infinite ease-in-out;
  -moz-animation:    bounce-arrow 2s infinite ease-in-out;
  -o-animation:      bounce-arrow 2s infinite ease-in-out;
  animation:         bounce-arrow 2s infinite ease-in-out;
}
.rev_slider .tp-caption.arrow {
  display: none;
}

@media (min-width: 768px) {
  .rev_slider .tp-caption.arrow {
    display: block;
  }
}